html {

}

body {

  color: black;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f6f5;
  
}


p {

  color: black;
  background-color: #f2f6f5;
  font-size: 16px;
  font-weight: normal;
  padding-right: 15px;


}



a {

  color: yellow;
  text-align: right;
  font-size: 16px;
  padding-right: 20px;
  padding-bottom: 10px;
  text-decoration: none;

}


header {  
 max-width: 1030px;
 background-color: #033048;

}


footer {

  color: white;
  font-style: normal;
  font-size: 10px;
  height: 300px;
  background-color: black;

}


.logo {

  display: inline-block;
  padding-left: 50px;
  color: white;

}


.navigation {
  display: inline-block;
  color: #f9e42e;
  font-size: 12px;
  float: right;
  margin-top: 40px;

}

.dropcap {
  font-size: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 50px;

}

.mainbody {
  background-color: #f2f6f5;
  padding-left: 50px;
  padding-bottom: 50px;


}

.mainarticle {
  background: white;
  text-align: left;
  color: black;
  display: inline-block;
  padding-left: 50px;
  width: 700px;

}

.header {
  font-size: 30px;
  font-weight: 300;
  background-color: #f2f6f5;
  text-align: left;
  color: #033048;
  margin-top: 15px;

}

.article {
  padding-right: 20px;
  max-width: 700px;
  padding-bottom: 15px;
} 

.rowingimage {
  text-align: left;
  width: 100%
}


.boat {
  background-color: white;

}

.columns {
  display: flex;
  flex-wrap: nowrap;

}


.readmore {
  color: black;
  font-size: 20px;
  align: right;
  text-decoration: underline;

}

.aside {
  width: 200px;
  padding-right: 50px;
  padding-left: 10px;
  color: #033048;
  background-color: #f2f6f5;

}

.buttondiv {
  background-color: #f9e42e;
  height: 75px%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;

}

.button {
  vertical-align: center;
  background-color: #033048;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-left: 60px;
  padding-right:60px;
  padding-bottom: 15px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  border: #033048;
  border-radius: 7px;
  color: white;

}

.socialimages {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
  background-color: black;


}

.relaxr2  {
  text-align: center;
  color:#f9e42e;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  background-color: black;
  padding-top: 10px;
  margin-top: 0px;

}

.social {
  background-color: black;
  text-align: center;

}

.socialimages {

  padding-right: 20px;

}

.copywrite {
  padding-top: 50px;
  font-size: 8px;
  letter-spacing: 2px;
  text-align: center;

}


